<!DOCTYPE html>
<!--headeter-->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styling.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <title>Profile Page</title>
  <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8ed2aa;
  color: white;

}
</style>
</head>

<div class= footer>

<p class="w3-padding-small" style="font-size: 10px;margin-bottom: 0px;
  text-align:right;">Made with love by <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Falyssa-ashmore%2F%3Ffbclid%3DIwAR1FcMy9yZGbGgOuB0sp0kBUwgKysVUhn38fJb1u-6XJu3pei5L_0ZIz2jI&h=AT2gCkfIFcVvuZVwErTfwIIVSVq5JcD2YYS5ywD-JEbfoqgTu8K34K5Dm3HwJbb2CByoGOSWPJ6Hm3HTFVNhdrkPqhkxFVhBXNgxgn-BgpGznqHMvRgFIFdTc1ohBNBuzofyf7Dd1Dv4w-bosNVtjw">Alyssa Ashmore</a>, <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fjunlinjulialu%2F%3Ffbclid%3DIwAR3i8gNH2Q7IZAKeXaGNd3WxcM8HDdDi2Hd70isHRp_Cc_2xPHJXWylRX3g&h=AT2gCkfIFcVvuZVwErTfwIIVSVq5JcD2YYS5ywD-JEbfoqgTu8K34K5Dm3HwJbb2CByoGOSWPJ6Hm3HTFVNhdrkPqhkxFVhBXNgxgn-BgpGznqHMvRgFIFdTc1ohBNBuzofyf7Dd1Dv4w-bosNVtjw">Junlin "Julia" Lu</a>, and <a href="">Nancy Zhou</a>.</p>
</div>
