<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href="css/styling.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <title></title>
</head>

<!-- light grey bg for large screens -->



  <div class=" w3-content w3-white  w3-center" style="max-width:800px; height:500px; max-height:800px">

<body class="w3-light-grey w3-padding-16">
    <!-- help bar -->

    <header class="w3-center w3-padding-16";>
      <div class="w3-bar w3-border">
        <img src="instruction.png" onclick="document.getElementById('faq').style.display='block'" class="navicon w3-bar-item w3-button"></img>

        <div id="faq" class="w3-modal" data-backdrop="false">

          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('faq').style.display='none'" class="w3-button w3-display-topright">&times;</span>

              
            
            </div>
          </div>
        </div>
      </div>

    </header><!--HEADER END-->
<div class="w3-center">
    <div class="w3-card-4 w3-center w3-white w3-padding-16" style="max-width:500px;  margin: auto">
      <div class= "w3-row">
        <p>Welcome back </p> <p id="user" style="margin-bottom: 0px"></p>
      <div class="w3-cell-row w3-center">
        <div class=" w3-cell-middle">

          <a href="/bprompt1">
            <button class="w3-btn w3-hover-teal">
              <h2><i class="fas fa-edit fa-5x"></i><br>New Entry</h2>
            </button></a>

        </div>
      </div>
    </div>

    <div class=" w3-white w3-panel w3-center ">
      <div class="w3-cell-row">
        <div class=" w3-cell-middle">
          <div class="w3-bar">
            <a href="/bpastentries"> <button class="w3-button w3-black"> Entries</button></a>
            <a href="/bprofile"> <button class="w3-button w3-teal">Profile</button></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

</body>

<script>
// show user userName
var loginUserName = localStorage.getItem("userName");
$("#user").text(loginUserName);
</script>

<script>
//shortcut for $(document).ready
$(function(){
if(window.location.hash) {
var hash = window.location.hash;
$(hash).appendTo("body").modal('show');

}
});
</script>
</html>
