<!DOCTYPE html>
<!--Gallery Page-->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styling.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <title></title>
</head>


<body class="w3-light-grey w3-padding-16">
  <!-- light grey bg for large screens -->
  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content-->
  <div class="w3-content w3-white " style="max-width:800px; height:500px; max-height:800px">


    <!-- Header -->
    {{>bheader}}

    <!-- CONTENT-->
    <div class="w3-container">
      <p class="title" id="sort">Past Entries</p>
      <div class="w3-card w3-padding">
        <button type="button mx-auto" class="btn btn-dark" id="dateBtn">Sort by Date</button>
        <button type="button mx-auto" class="btn btn-dark" id="tagBtn">Sort by Tags</button>
      </div>
      <div class="sortbox" id="sortentrydates">{{>bdates}}</div>
      <div class="sortbox" id="sortentrytags">{{>btags}}</div>
    </div>


  </div>

</html>

<script>

var sort;
$(document).ready(function(){
  $('#sortentrytags').hide();
  // $('#sortentrydates').show();
  $("#dateBtn").click(function(){
    sort = "Date";
    console.log(sort);
    document.getElementById("sort").innerHTML = "Past Entries by " + sort ;
    $('#sortentrydates').show();
    $('#sortentrytags').hide();
    });

  $("#tagBtn").click(function(){
    sort = "Tags";
    console.log(sort);
    document.getElementById("sort").innerHTML = "Past Entries by " + sort ;
    $('#sortentrydates').hide();
    $('#sortentrytags').show();
  });
});


</script>
