<!DOCTYPE html>
<!--Gallery Page-->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

  <link rel="stylesheet" href="css/styling.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <title></title>
</head>


<body class="w3-light-grey w3-padding-16">
  <!-- light grey bg for large screens -->
  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content-->
  <div class="w3-content w3-white " style="max-width:800px; height:500px; max-height:800px">

    <!-- Header -->
   <div data-includeHTML="header.html"></div>

     <!-- Header -->

    <!-- CONTENT-->
			<div class="w3-card-4 w3-margin-100 w3-white">

				<div class="w3-cell-row">
					<div class=" w3-cell-middle">
                <p class="title" id="date"></p>
								<p id="content"></p>

					</div>
				</div>

        <div class="w3-row w3-card-4 w3-padding-small w3-white">
          <div class="col-xs-10">
            <span id="tag1" class="w3-tag"></span>
            <span id="tag2" class="w3-tag"></span>

        </div>
			</div>
    


       </div>  <!-- END CONTENT -->
    
        <div class="w3-row w3-card-4 w3-padding-small w3-white">
          <div class="col-xs-10 w3-center">

            <a href="/pastentries"><button type="button mx-auto" class="btn btn-default" id="deleteBtn">Delete</button></a>
          </div>
        </div>

  </div><!-- END CONTAINER -->
  
  
</body><!-- END BODY -->

<script>
    $(document).ready(function () {
        $("div[data-includeHTML]").each(function () {
            $(this).load($(this).attr("data-includeHTML"));
        });
    });
</script>

<script>
		function goBack() {
		window.history.back();
    }

    var localEntry = JSON.parse(localStorage.getItem("entry"));
    var lastItem = localEntry && localEntry.length > 0? localEntry[localEntry.length - 1]: null;
    if (lastItem) {
      $("#date").text(lastItem.date);
      $("#content").text(lastItem.content);
      $("#tag1").text(lastItem.tag1);
      $("#tag2").text(lastItem.tag2);
      console.log(content);
    }
  
    deleteBtn.onclick = function() {
      localStorage.removeItem("entry");
  }
</script>
</html>
