<!DOCTYPE html>
<!--Prompt 1 Page-->
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="css/styling.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      var entry = { tags: [], entryContent:'', date: new Date()};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <title></title>
  
</head>

<style>
.w3-cell-row {
    text-align: center;
    margin-bottom: 1%;
}

</style>

<body class="w3-light-grey w3-padding-16">
  <!-- light grey bg for large screens -->
  <!-- w3-content defines a container for fixed size centered content,
  and is wrapped around the whole page content-->
  <div class="w3-content w3-white " style="max-width:800px; height:500px; max-height:800px">

    <!-- Header -->
    <header class="w3-panel w3-center w3-padding-16">
      <div class="w3-padding-small">
        <div class="w3-bar w3-border">
          <img src="back.png" onclick="goBack()" class="navicon w3-bar-item w3-button "></img>
          <a href="/homepage"> <img src="home.svg" class="navicon w3-bar-item w3-button "></img></a>
          <img src="instruction.png" onclick="document.getElementById('id01').style.display='block'" class="navicon w3-bar-item w3-button"></img>

          <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
              <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>

                <H2 class="w3-center">User Guide</H2>

                <div class=" w3-content w-3center w3-panel">
                  <div class="w3-col">
                    <a href="#new" class="btn btn-info w3-card w3-panel w3-hover-pink w3-padding-16 w3-button w3-block w3-left-align" data-toggle="collapse"> How do I <b>make a new entry?</b></a>
                    <div id="new" class="collapse w3-panel w3-card">
                      <p>
                        1. Click on "New Entry" on the home page <br>
                        2. Select the feeling you would like to tag your entry <br>
                        3. Select the topic tag that you are thinking <br>
                        4. The timer will start once you enter text in the text box <br>
                        5. You can pause the timer with the 'play' and 'pause buttons' <br>
                        Your entry can be saved manually at any time, and a alert will notify you if you are navigating away without saving
                      </p>
                    </div>

                    <a href="#view" class="btn btn-info w3-hover-pink w3-panel w3-padding-16 w3-button w3-block w3-left-align" data-toggle="collapse"> How do I <b>find</b> my past entries?<i class="fa fa-caret-down"></i></a>
                    <div id="view" class="collapse w3-card w3-panel">
                      <p>
                        1. Click on "" on the home page <br>
                        2. Select the view <br>
                        3. IDK this is filler until I can see the rest of the website <br>
                      </p>
                    </div>

                    <a href="#edit" class="btn btn-info w3-panel w3-hover-pink w3-padding-16 w3-button w3-block w3-left-align" data-toggle="collapse"> How do I <b>edit</b> my past entries?<i class="fa fa-caret-down"></i></a>
                    <div id="edit" class="collapse w3-card w3-panel">
                      <p>
                        1. Click on "" on the home page <br>
                        2. Select the view <br>
                        3. Select the post you would like to edit <br>
                        4. IDK this is filler until I can see the rest of the website<br>
                      </p>
                    </div>
                    <H4></H4>
                    <a href="#delete" class="btn btn-info w3-panel w3-hover-pink w3-padding-16 w3-button w3-block w3-left-align" data-toggle="collapse"> How do I <b>delete</b> my past entries?<i class="fa fa-caret-down"></i></a>
                    <div id="delete" class="collapse w3-card w3-panel">
                      <p>
                        1. Click on "" on the home page <br>
                        2. Select the view <br>
                        3. Select the post you would like to delete <br>
                        4. IDK this is filler until I can see the rest of the website, hopefully we will have a delete icon.<br>
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </header>

    <p class="w3-xlarge" align="center">HOW ARE YOU FEELING TODAY?</p>

    <!-- CONTENT-->
            <div class="w3-container">
				<div class="w3-cell-row">
                    <div class="w3-cell-middle">
						<a href="/prompt2?tag1=happy"> <button id='happy' class="w3-btn w3-round-xlarge
                        w3-border w3-border-blue" >
								<h8>HAPPY</h8>
							</button></a>
					</div>
                </div>

                <div class="w3-cell-row">
					<div class=" w3-cell-middle">
						<a href="/prompt2?tag1=sad"> <button id='sad' class="w3-btn w3-round-xlarge
                         w3-border w3-border-blue" >
								<h8>SAD</h8>
							</button></a>
					</div>
				</div>

                 <div class="w3-cell-row">
					<div class=" w3-cell-middle">
						<a href="/prompt2?tag1=grateful"><button id='grateful' class="w3-btn w3-round-xlarge
                         w3-border w3-border-blue" >
								<h8>GRATEFUL</h8>
							</button></a>
					</div>
				</div>

                 <div class="w3-cell-row">
					<div class=" w3-cell-middle">
						<a href="/prompt2?tag1=content"> <button id='content' class="w3-btn w3-round-xlarge
                         w3-border w3-border-blue" onclick='createNewEntry(this.id)'>
								<h8>CONTENT</h8>
							</button></a>
					</div>
				</div>

        <div class="w3-cell-row">
					<div class=" w3-cell-middle">
						<a href="/prompt2?tag1=anxious"> <button id='anxious' class="w3-btn w3-round-xlarge
                         w3-border w3-border-blue" >
								<h8>ANXIOUS</h8>
							</button></a>
					</div>
				</div>

        
        <div class="w3-cell-row">
					<div class=" w3-cell-middle">            

            <button class="w3-btn w3-round-xlarge w3-border w3-border-blue" 
                    onclick='show()' >
              <h8 id="plus"> + </h8>

              <form action="/prompt2?tag1=" method="GET">
              <input type="text" id="tag1" name="tag1" placeholder="Enter Tag..." required>
              </form>
            </button>
				  </div>
        </div>

<!--
          <div class="w3-cell-row">
					<div class=" w3-cell-middle">
						<a href="/prompt2?tag1=+"> <button class="w3-btn w3-round-xlarge
                         w3-border w3-border-blue" >
								<h8> + </h8>
							</button></a>
					</div>
				</div>
-->


    <!-- END CONTENT -->

  </div><!-- END CONTAINER -->
</body><!-- END BODY -->

<script>

  $('#tag1').hide();

  function show() {
    $('#tag1').show();
    $('#plus').hide();
  }

  $(document).ready(function(){
    $("#doLogin").click(function(){
      var tag1 = $("#tag1").val();
      console.log(tag1);
      if (tag1 === "") {
        alert("Must enter a tag");
      }
      localStorage.setItem("tag1", tag1);
    });
  });
</script>

<script>
    var entry = { tags: [], entryContent:'', date: new Date()};
		function goBack() {
		window.history.back();
        }
</script>
</html>
